body {
    position: relative;
    min-width: 900px;
    height: 100%;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    font-size: 18px;
  }

  .bar {
    fill: #fc4e2a;
  }

  main {
    top: 50px;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: auto;
    background: #EFEFEF;
    width: 100%;
    min-width: 900px;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 800px;
    height: 10px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 800px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 25px;
    border-radius: 20%;
    background: rgb(255, 183, 1);
    margin-top: -3px;
    margin-left: 3px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }

  input[type=range]:hover {
    opacity: .8;
  }


  body {
    font: 15px sans-serif;
    background-color: #ffffff;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(34, 19, 19);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

  .d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(43, 43, 43, 0.8);
    color: #fff;
    border-radius: 2px;
  }

  .legend {
    position: absolute;
    left: 20px;
    top: 30px;
  }

  .axis text {
    font: 10px sans-serif;
  }

  path:hover {
    fill-opacity: .5;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: rgb(95, 95, 95);
    shape-rendering: crispEdges;
  }

  /*style for select dropdown*/
  select {
    margin: 5px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 17px;
    border: 1px solid #CCC;
    height: 34px;
    appearance: none;
  }
